@import 'app/scss/base';

.buy-sell-wrapper {
  .floating-input {
    flex: 0 0 30%;
  }
  .quantity-input {
    flex: 0 0 60%;
    input {
      background-color: #3f3a6b;
      border: none;
      border-radius: 10px;
      color: $textColor;
    }
  }

  .price-limit-select {
    background-color: transparent;
    color: #fff;
    border: 1px solid #3c385d;
    height: 57px;
    border-radius: 10px;
    flex: 0 0 35%;
  }
  .badge {
    height: 57px;
    cursor: pointer;
    width: 34%;
    .wallet-balance {
      font-size: 19px;
    }
  }
  
}