$primaryColor: #151233;
$secondaryColor: #0b081e;
$borderColor: #1a173a;
$textColor: #dbdadf;
$secondaryTextColor: #7a749c;
$tertiaryColor: #231c3f;
$success: #86eb8a;

@mixin gradientBorder() {
  background-image: radial-gradient(circle at 100% 100%, transparent 7px, #b374ea 7px, #b374ea 9px, transparent 9px), linear-gradient(to right, #b374ea, #2f63e0), radial-gradient(circle at 0% 100%, transparent 7px, #2f63e0 7px, #2f63e0 9px, transparent 9px), linear-gradient(to bottom, #2f63e0, #2f63e0), radial-gradient(circle at 0% 0%, transparent 7px, #2f63e0 7px, #2f63e0 9px, transparent 9px), linear-gradient(to left, #2f63e0, #b374ea), radial-gradient(circle at 100% 0%, transparent 7px, #b374ea 7px, #b374ea 9px, transparent 9px), linear-gradient(to top, #b374ea, #b374ea);
  background-size: 9px 9px, calc(100% - 18px) 2px, 9px 9px, 2px calc(100% - 18px);
  background-position: top left,top center,top right,center right, bottom right,bottom center,bottom left,center left;
  background-repeat: no-repeat;
}