@import 'app/scss/base';

.step-indicator {
  .indicator {
    height: 10px;
    width: 75px;
    border-radius: 5px;
    margin-right: 10px;
    background-color: $tertiaryColor;
    &.active {
      background: linear-gradient(to right, #b374ea, #2f63e0);
    }
  }
}