@import 'app/scss/base';

.dashboard-summary {
  .title {
    color: $secondaryTextColor;
    letter-spacing: 2px;
    padding-bottom: 5px;
  }
  .summary-item {
    flex: 0 0 33%;
  }
  .summary-item:not(:last-child) {
    border: 2px solid $secondaryTextColor;
    border-width: 0 1px 0 0;
  }
}
