@import 'app/scss/base';

.site-layout {
  padding: 0px !important;
  margin: 0px;

  .navbar {
    border: 1px solid $borderColor;
    border-width: 0 0 2px 0;
    padding: 0px !important;
    height: 75px;

    .navbar-toggler {
      margin-right: 15px;
    }

    &.bg-dark {
      background-color: $primaryColor !important;
    }

    .navbar-brand {
      background: linear-gradient(45deg, #201e3e, #2b2746);
      padding-right: 15px;
    }

    .navbar-collapse {
      padding-left: 15px;
      background-color: $primaryColor;
    }

    .nav-link {
      font-size: 18px;
      padding: 10px 30px !important;
      &.active {
        @include gradientBorder();
      }
    }

    .logo {
      margin-left: 25px;
      margin-right: 10px;
    }

    .profile-avatar {
      height: 50px;
      width: 50px;
      border: 2px solid $secondaryTextColor;
      border-radius: 50%;
      background-color: $secondaryColor;
      cursor: pointer;

      img {
        height: 100%;
        border-radius: 50%;
      }
    }
  }
  .sidebar-and-main {
    height: calc(100% - 78px);
    .site-sidebar {
      height: 100%;
      width: 80px;
      background-color: #0b081e;
    }
    .content-container {
      width: calc(100% - 80px);
      padding: 30px;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}
