@import 'app/scss/base';

.explore-investment-wrapper {
  .stock-icon {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    margin-right: 10px;
  }
  .top-market {
    flex: 0 0 60%;
    margin-right: 30px;
  }
  .all-investments {
    flex: 0 0 38%;
  }
  .second-row {
    margin-top: 30px;
    .top-gainers {
      flex: 0 0 29%;
      margin-right: 30px;
    }
    .top-losers {
      flex: 0 0 29%;
      margin-right: 30px;
    }
    .latest-news {
      flex: 0 0 38%
    }
  }
}